/****************************
Main page styles
requires gulp-sass to compile
C. 2016-present John Garrison
~~~ http://www.johntg.com ~~~
****************************/
/****************************
Fonts
****************************/
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Changa+One';
/****************************
Variables
****************************/
/* Fonts */
/* Colors */
/****************************
General Element Styling
****************************/
a {
  text-decoration: none;
  color: #518223; }

p {
  font-family: "Raleway", arial;
  color: #EBEBEB; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Monsterrat", arial;
  color: #EBEBEB; }

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor: pointer; }

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: radial-gradient(circle, #759954, #518223);
  background-repeat: no-repeat; }

/* classes to be used with JavaScript */
.hide {
  display: none; }

/****************************
Header/Titles
****************************/
.header-title {
  text-align: center;
  color: #DBD814;
  font-family: "Changa One", arial;
  font-size: 2.2em;
  margin: 2em .5em 3em .5em; }

.main-title {
  text-align: center;
  color: #EBEBEB;
  font-family: "Monsterrat", arial;
  margin: 2em .5em 3em .5em; }

/****************************
Timer Section
****************************/
.timer-menu {
  width: 50%;
  height: 10em;
  margin: 0 auto; }
  .timer-menu #reg-timer {
    width: 100%;
    height: 5em;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #CFCFCF;
    -webkit-box-shadow: 10px 10px 21px -8px #0a4f12;
    -moz-box-shadow: 10px 10px 21px -8px #0a4f12;
    box-shadow: 10px 10px 21px -8px #0a4f12; }
    .timer-menu #reg-timer .main-title {
      margin-top: 0;
      padding-top: 1em;
      color: #518223; }
  .timer-menu #reg-timer:hover {
    background-color: #BAB713; }
    .timer-menu #reg-timer:hover .main-title {
      color: #EBEBEB; }
  .timer-menu #pomodaro-timer {
    width: 100%;
    height: 5em;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #CFCFCF;
    -webkit-box-shadow: 10px 10px 21px -8px #0a4f12;
    -moz-box-shadow: 10px 10px 21px -8px #0a4f12;
    box-shadow: 10px 10px 21px -8px #0a4f12; }
    .timer-menu #pomodaro-timer .main-title {
      margin-top: 0;
      padding-top: 1em;
      color: #518223; }
  .timer-menu #pomodaro-timer:hover {
    background-color: #BAB713; }
    .timer-menu #pomodaro-timer:hover .main-title {
      color: #EBEBEB; }

#reg-timer-values, #pomodaro-timer-values {
  text-align: center; }
  #reg-timer-values input, #pomodaro-timer-values input {
    margin: 1em 0.5em 1em 0.5em; }

.value-text {
  text-align: center;
  color: #EBEBEB;
  margin-bottom: 0;
  font-family: "Raleway", arial; }

.timer-input {
  color: #EBEBEB;
  background-color: #2D3B07;
  border: none;
  font-family: "Raleway", arial;
  font-weight: 600;
  font-size: 1.5em;
  width: 3em; }

.timer-btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #a4e271;
  -webkit-box-shadow: inset 0px 1px 0px 0px #a4e271;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
  background: -moz-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -o-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -ms-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
  background-color: #89c403;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009; }

.timer-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
  background: -moz-linear-gradient(top, #77a809 5%, #89c403 100%);
  background: -webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
  background: -o-linear-gradient(top, #77a809 5%, #89c403 100%);
  background: -ms-linear-gradient(top, #77a809 5%, #89c403 100%);
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
  background-color: #77a809; }

.timer-btn:active {
  position: relative;
  top: 1px; }

/****************************
Footer
****************************/
.footer p {
  text-align: center;
  margin-top: 12em; }
  .footer p a {
    color: #EBEBEB; }
