/****************************
Main page styles
requires gulp-sass to compile
C. 2016-present John Garrison
~~~ http://www.johntg.com ~~~
****************************/
/****************************
Fonts
****************************/
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Raleway';
/****************************
Variables
****************************/
/* Fonts */
/* Colors */
/****************************
General Element Styling
****************************/
a {
  text-decoration: none;
  color: #518223; }

p {
  font-family: "Raleway", arial;
  color: #EBEBEB; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Monsterrat", arial;
  color: #EBEBEB; }

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor: pointer; }

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: radial-gradient(circle, #759954, #518223);
  background-repeat: no-repeat; }

/* classes to be used with JavaScript */
.hide {
  display: none; }

/****************************
Header/Titles
****************************/
.main-title {
  text-align: center;
  color: #EBEBEB;
  font-family: "Monsterrat", arial;
  margin: 2em .5em 3em .5em; }

/****************************
Timer Section
****************************/
.timer-menu {
  width: 50%;
  height: 10em;
  margin: 0 auto; }
  .timer-menu #reg-timer {
    width: 100%;
    height: 5em;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #CFCFCF;
    -webkit-box-shadow: 10px 10px 21px -8px #0a4f12;
    -moz-box-shadow: 10px 10px 21px -8px #0a4f12;
    box-shadow: 10px 10px 21px -8px #0a4f12; }
    .timer-menu #reg-timer .main-title {
      margin-top: 0;
      padding-top: 1em;
      color: #518223; }
  .timer-menu #reg-timer:hover {
    background-color: #7DA314; }
    .timer-menu #reg-timer:hover .main-title {
      color: #EBEBEB; }
  .timer-menu #pomodaro-timer {
    width: 100%;
    height: 5em;
    margin: 0 auto;
    background-color: #CFCFCF;
    -webkit-box-shadow: 10px 10px 21px -8px #0a4f12;
    -moz-box-shadow: 10px 10px 21px -8px #0a4f12;
    box-shadow: 10px 10px 21px -8px #0a4f12; }
    .timer-menu #pomodaro-timer .main-title {
      margin-top: 0;
      padding-top: 1em;
      color: #518223; }
  .timer-menu #pomodaro-timer:hover {
    background-color: #7DA314; }
    .timer-menu #pomodaro-timer:hover .main-title {
      color: #EBEBEB; }

#reg-timer-values, #pomodaro-timer-values {
  text-align: center; }
  #reg-timer-values input, #pomodaro-timer-values input {
    margin: 1em 0.5em 1em 0.5em; }

/****************************
Footer
****************************/
.footer p {
  text-align: center;
  margin-top: 12em; }
  .footer p a {
    color: #EBEBEB; }
